streamlit==1.50.0
python-dotenv==1.1.1
langchain-core==1.2.20
langchain-community==0.3.31
langchain-google-genai==4.2.1
langgraph==1.0.1
pydantic==2.12.4
streamlit-agraph==0.0.45
pypdf==6.4.0
google-cloud-speech==2.37.0
google-generativeai==0.8.6
pytest==8.4.2
pytest-mock==3.15.1
pytest-bdd==7.3.0
pymupdf4llm==1.27.2.2
py2puml==0.11.0
requests>=2.32.0
faster-whisper>=1.0.0
tenacity>=8.2.0
